---
const { plan } = Astro.props;
import { t } from "i18next";

const faqs = [
	{
		title: "What is ConSOLE?",
		description: "ConSOLE stands for Conference of the Student Organization of Linguistics in Europe. It is an annual conference specifically aimed at providing a platform for graduate (mainly PhD and advanced MA) students working in theoretical linguistics to present their research. The conference covers a wide range of topics within theoretical linguistics, including syntax, semantics, phonology, morphology, and related areas.",
	},
	{
		title: "What are the key features of ConSOLE?",
		description:
		`Participating at ConSOLE comes with the following benefits:
					<ul style="list-style: inside;">
						<li>The opportunity to present your research in a supportive environment;</li>
						<li>Receive feedback from peers and faculty members;</li>
						<li>Network with other early-career linguists;</li>
						<li>Learn about cutting-edge research in theoretical linguistics;</li>
						<li>Publish your work in the yearly proceedings volume.</li>
					</ul>`
			,
	},
	{
		title: "How can I submit?",
		description:
			"You can review the submission guidelines and procedure at this link.",
	},
	{
		title: "Can I submit both to the main session and the workshop?",
		description:
			"Yes, with the general restriction of submitting in total up to one single-authored abstract and a co-authored abstract, or two co-author abstracts.",
	},
	{
		title: "How are the travel grants assigned?",
		description: `Travel grants are assigned based on the following criteria, read more at the dedicated page of this site:
					<ul style="list-style: inside;">
						<li>Remove the i18next pacakage <code>npm unistall astro-i18next</code></li>
						<li>Remove <code>astro-i18next.config.mjs</code> file</li>
						<li>Remove <code>locales</code> folder from public</li>
						<li>Remove <code>languageselector.astro</code> file and from footer</li>
						<li>Find all reference to <code>i18next</code> and <code>astro-i18next</code> and replace with your text</li>
					</ul>`,
	},
	{
		title: "How do I register?",
		description:
			"Registration will open this winter.",
	},
	{
		title: "Is it possible to participate or present to the conference online?",
		description:
			"No, ConSOLE34 will be a on-site event only.",
	},
	{
		title: "Will the proceedings be available for both the main session and the workshop?",
		description:
			"Yes, every author who presents at ConSOLE34 (both main session and workshop) will have the opportunity to have their paper published in the series of the Student Organization of Linguistics in Europe (SOLE), which will be available online around December 2026.",
	},
	{
		title: "How do I get to Pavia?",
		description:
			"You can find the relevant information about travelling to Pavia on the dedicated page of this site. If we missed to cover a point and you have a question for us, don't hesitate to mail us, or to contact one of the organizers (chose your fighter).",
	},
	{
		title:
			"Can I host next editions of ConSOLE at my institution?",
		description: `Of course! Contact the SOLE board, they will be thrilled in receiving your candidacy!`,
	},
];
---

<div class="mx-auto max-w-5xl px-6 py-24 sm:py-36 lg:px-8 lg:py-52 dark:bg-stone-950">
	<div class="mx-auto divide-y divide-gray-900/10 dark:divide-gray-100/10">
		<h2 class="text-2xl font-bold leading-10 tracking-tight text-gray-900 dark:text-white">{t("Frequently Asked Questions:")}</h2>
		<dl class="mt-10 space-y-6 divide-y divide-gray-900/10 dark:divide-gray-100/10">
			{
				faqs.map((faq) => (
					<div class="pt-6" x-data="{ open: false }">
						<dt>
							<button
								type="button"
								class="flex w-full items-start justify-between text-left text-gray-900 dark:text-white"
								@click="open = !open"
								:x-bind:aria-expanded="open.toString()">
								<span class="text-base font-semibold leading-7">{faq.title}</span>
								<span class="ml-6 flex h-7 items-center">
									<svg
										class="h-6 w-6"
										fill="none"
										viewBox="0 0 24 24"
										stroke-width="1.5"
										stroke="currentColor"
										aria-hidden="true"
										x-show="!open">
										<path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6"></path>
									</svg>
									<svg
										class="h-6 w-6"
										fill="none"
										viewBox="0 0 24 24"
										stroke-width="1.5"
										stroke="currentColor"
										aria-hidden="true"
										x-show="open">
										<path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6"></path>
									</svg>
								</span>
							</button>
						</dt>
						<dd
							x-transition:enter="transition ease-out duration-100"
							x-transition:enter-start="opacity-0 transform scale-90"
							x-transition:enter-end="opacity-100 transform scale-100"
							x-transition:leave="transition ease-in duration-100"
							x-transition:leave-start="opacity-100 transform scale-100"
							x-transition:leave-end="opacity-0 transform scale-90"
							class="mt-2 pr-12"
							id="faq-0"
							x-show="open">
							<span class="text-base leading-7 text-gray-600 dark:text-gray-100">
								<span set:html={faq.description}></span>
							</span>
						</dd>
					</div>
				))
			}
		</dl>
	</div>
</div>
